* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

.main-body {
    /* flex: 1; */
    width: 1078px;
    background-color: rgb(255, 255, 255);
}

.side-panel {
    position: fixed;
    right: 0px;
    height: 100%;
    width: 440px;
    background-color: rgb(49, 240, 240);
}

.side-navbar {
    position: fixed;
    right: 0px;
    height: 100%;
    width: 45px;
    background-color: aquamarine;
}


/* ----------------Main body Navbar------------------ */

.main-navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    height: 64px;
    width: inherit;
    align-items: center;
    position: fixed;
    background-color: rgb(255, 255, 255);
}

.logo {
    cursor: pointer;
}

.navbar-options {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0px 48px;
    align-items: center;
}

.navbar-options .navbar-links ul {
    list-style: none;
    display: flex;
    font-size: 16px;
}

.navbar-options button {
    width: 160px;
    height: 40px;
    background-color: #f0f3fa;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: grey;
    margin: 6px 8px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-options button:hover {
    color: black;
}

.navbar-options .navbar-links ul .links {
    padding: 8px 12px;
    margin: 12px 0px;
    height: 40px;
    line-height: 24px;
    border-radius: 20px;
}

.navbar-options .navbar-links ul .links:hover {
    background-color: #f0f3fa;
}

.profile {
    display: flex;
    width: 176px;
    justify-content: space-between;
}

.profile .profile-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-size: 24px;
    background-color: purple;
    border-radius: 50%;
    color: white;
    line-height: 18px;
}

.free-trial {
    width: 120px;
}

.free-trial a {
    width: 120px;
    background-color: #2962ff;
    border-radius: 10px;
    height: 40px;
    display: block;
    padding: 4px 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.free-trial span {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
}

.free-trial small {
    font-size: 12px;
    color: white;
}


/* ----------------Main Content Charts----------------- */

.main-content {
    padding: 0px 40px;
    /* margin-top: 64px; */
}

.main-content>section {
    margin: 154px 0px;
}

.charts header a {
    font-size: 28px;
    font-weight: 500;
}

.charts header a:hover {
    color: #2962ff;
}

.charts header {
    margin-bottom: 24px;
}

.stock-types section {
    display: flex;
    margin-bottom: 24px;
}

.stock-types input {
    display: none;
}

.stock-types label {
    display: block;
    height: 40px;
    width: 8%;
    font-size: 16px;
    margin-right: 12px;
    line-height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.stock-types label:hover {
    background-color: #f0f3fa;
}

.stock-types label span {
    font-weight: 400;
}

.stock-types input:checked+label {
    background-color: #f0f3fa;
}

.stock-types input:checked+label span {
    font-weight: 500;
}


/* -----------Stocks list-------------- */

.stocks-container section {
    display: flex;
    height: 76px;
    box-sizing: initial;
    margin: -24px 0 -24px -24px;
    padding: 24px 0 24px 24px;
    overflow: auto;
    width: 1016px;
    background-color: white;
}

.stocks-container section::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
}

.stocks-container section::-webkit-scrollbar-thumb {
    background: rgba(124, 124, 124, 0.482);
    border-radius: 4px;
}

.stocks-container section input {
    display: none;
}

.stocks-container section input:checked+label small {
    box-shadow: 0 0 20px #575d6c30;
    background-color: white;
}

.stocks-container .stocks {
    padding-right: 36px;
}

.stocks-container .stocks small {
    width: 272px;
    height: 76px;
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
}

.stocks-container .stocks small:hover {
    background-color: #f0f3fa;
}

.stocks-container .stocks .stock-logo {
    height: 36px;
    width: 36px;
    background-color: purple;
    color: white;
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    margin: 6px;
}

.stocks-container .stocks:nth-of-type(2n) .stock-logo {
    background-color: cadetblue;
}

.stocks-container .name-price-container {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-price-container .name {
    font-size: 20px;
    font-weight: 500;
}

.name-price-container .name:hover {
    color: #2962ff;
}

.name-price-container .name sup {
    font-size: 10px;
    font-weight: 500;
    color: #ff9800;
}

.name-price-container .price {
    font-size: 16px;
    font-weight: 500;
}

.name-price-container .price .currency {
    font-weight: 300;
    color: grey;
    font-size: 12px;
}

.name-price-container .price .currency+.profit {
    color: #22ab94;
    margin-left: 10px;
}

.name-price-container .price .currency+.loss {
    color: #f23645;
    margin-left: 10px;
}


/* -----------------Charts------------------ */

.chart-container {
    height: 320px;
    width: 988px;
    margin: 36px 0px;
}

.chart-container img {
    width: 988px;
}

.time-period-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-period-container section {
    display: flex;
    list-style: none;
}

.time-period-container>section input {
    display: none;
}

.time-period-container>section label {
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    margin-right: 4px;
    line-height: 24px;
}

.time-period-container>section input:checked+label {
    background-color: #f0f3fa;
    font-weight: 500;
}

.time-period-container>section label:hover {
    background-color: #f0f3fa;
}

.option-container {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 48px;
}

.option-container .options {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 12px;
    height: 48px;
    padding: 3px;
    display: flex;
    align-items: center;
}

.option-container .options div {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 4px 9px;
    border-radius: 8px;
}

.option-container .options:hover div {
    background-color: #f0f3fa;
}

.option-container .tools {
    padding: 4px;
}

.option-container .tools section {
    gap: 5px;
}

.option-container .tools section input {
    display: none;
}

.option-container .tools section label {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 4px;
    border-radius: 8px;
}

.option-container .tools section input:checked+label {
    background-color: #f0f3fa;
}

.option-container .tools section span {
    font-weight: 200;
    font-size: 30px;
}

.option-container .full-screen span {
    padding: 5.5px 4px;
    font-weight: 200;
    font-size: 30px;
    border-radius: 8px;
}

.option-container .full-screen:hover span {
    background-color: #f0f3fa;
}


/* ----------Info Sections---------- */

.info-section {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
}

.info-section header {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 500;
}

.info-section header a:hover {
    color: #2962ff;
}

.info-section .topic-list input {
    display: none;
}

.info-section .topic-list {
    height: 40px;
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.info-section .topic-list label {
    height: 40px;
    width: 15%;
    /* padding: 4px 16px; */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section .topic-list input:checked+label {
    background-color: #f0f3fa;
    font-weight: 500;
}

.info-section .topic-list label:hover {
    background-color: #f0f3fa;
}


/* ----------Cards------------ */

.card-container {
    display: flex;
    gap: 36px;
    overflow: auto;
    height: 436px;
    width: 1040px;
}

.card-container::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
}

.card-container::-webkit-scrollbar-thumb {
    background: rgba(124, 124, 124, 0.482);
    border-radius: 4px;
}

.card-container .card {
    width: 432px;
    height: 414px;
    padding: 8px;
    border-radius: 16px;
}

.card-container .card:hover {
    background-color: #f0f3fa;
}

.card-container .card img {
    width: 416px;
    border-radius: 8px;
    border: 1px solid rgb(220, 220, 220);
}

.card-container .card .card-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.card-container .card .card-content .hash-tag {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
}

.card-container .card .card-content .hash-tag:hover {
    color: #2962ff;
}

.card-container .card .card-content .summary {
    margin-top: 8px;
    /* font-weight: 300; */
}

.card-container .card footer {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.card-container .card footer .right-side {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-container .card footer .writer-name:hover {
    color: #2962ff;
}

.card-container .card footer .date {
    color: grey;
    margin-top: 8px;
}

.card-container .card .left-side {
    display: flex;
    gap: 8px;
}

.card-container .card .left-side a {
    display: flex;
    padding: 0px 16px;
    align-items: center;
    height: 40px;
    border-radius: 8px;
}

.card-container .card .left-side a:hover {
    background-color: rgba(202, 202, 202, 0.486);
}

.card-container .card .left-side a span {
    font-weight: 300;
}

.card-container .card .left-side a span+span {
    font-weight: 400;
    margin-left: 5px;
}

.card-container .card .left-side a+a {
    border: 1px solid rgb(220, 220, 220);
}


/* --------------Effects-------------- */

.text {
    background-image: linear-gradient(0deg, #5c5c5c 10%, rgba(255, 255, 255, 0) 0);
    background-size: 0 100%;
    transition: background-size 0.6s ease;
    background-repeat: no-repeat;
}

.text:hover {
    background-size: 100% 100%;
}


/* ---------------------------------- */

.story-container {
    display: grid;
    grid-auto-flow: column;
    width: 1000px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 24px;
}

.story-container .story {
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 8px;
}

.story-container .story:hover {
    background-color: #f0f3fa;
}

.story-container .story .news-container>div {
    display: flex;
    align-items: center;
}

.story-container .story .news-container .logo {
    font-size: 8px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: purple;
    text-align: center;
    line-height: 18px;
    color: white;
    margin-right: 12px;
}

.story-container .story.story:nth-of-type(2n) .logo {
    background-color: brown;
}

.story-container .story.story:nth-of-type(3n) .logo {
    background-color: #22ab94;
}

.story-container .story .news-container .time {
    color: #5c5c5c;
    font-size: 14px;
}

.story-container img {
    height: 56px;
    width: 56px;
    border-radius: 12px;
    object-fit: fill;
}